/* Recharts component styles */
.chart-container {
  display: flex;
  aspect-ratio: 16 / 9;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1rem;
}

.chart-container .recharts-cartesian-axis-tick text {
  fill: hsl(var(--muted-foreground));
}

.chart-container .recharts-cartesian-grid line[stroke='#ccc'] {
  stroke: hsl(var(--border) / 0.5);
}

.chart-container .recharts-curve.recharts-tooltip-cursor {
  stroke: hsl(var(--border));
}

.chart-container .recharts-dot[stroke='#fff'] {
  stroke: transparent;
}

.chart-container .recharts-layer {
  outline: none;
}

.chart-container .recharts-polar-grid [stroke='#ccc'] {
  stroke: hsl(var(--border));
}

.chart-container .recharts-radial-bar-background-sector {
  fill: hsl(var(--muted));
}

.chart-container .recharts-rectangle.recharts-tooltip-cursor {
  fill: hsl(var(--muted));
}

.chart-container .recharts-reference-line [stroke='#ccc'] {
  stroke: hsl(var(--border));
}

.chart-container .recharts-sector[stroke='#fff'] {
  stroke: transparent;
}

.chart-container .recharts-sector {
  outline: none;
}

.chart-container .recharts-surface {
  outline: none;
}
